/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

    #body {
    background-color: gray;
    font-family: Verdana, Arial, sans-serif;
    }

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    .footer {
      background-color: #d4d4d4;
      color: white;
      padding: 15px;
    }
    
    
    .span {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    font-weight: normal;
    text-shadow: 2px 2px 4px graytexty;
    height: 97px;
}


#conteudo {
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    height: 430px;
}


#formDados {
    margin: 0 auto;
}

.msgInfo {
    color: blue;
}

.msgErro {
    color: red;
}

.info {
    font-weight: normal;
}



